* {
    font-family: 'Noto Sans TC', sans-serif;
}

.background {
    /* position: absolute; */
    background-image: url(../img/IMG_4768.JPG);
    background-size: cover;
    height: 100vmin;
    width: 100vmax;
    display: inline-block;
}

#title {
    background-color: #07581599;
    /* display: inline-block; */
    font-weight: 500;
    position: absolute;
    text-align: center;
    margin-top: 10vmin;
    margin-left: 15vmax;
    margin-right: 15vmax;
    height: 20vmin;
    width: 70vmax;
    color: white;
    font-size: 5vmax;
    line-height: 20vmin;
    border-radius: 4vmin;
}

#people_num_block {
    /* background-color: #077a118e; */
    display: inline-block;
    position: absolute;
    margin-top: 32.5vmin;
    margin-left: 15vmax;
    height: 15vmin;
    width: 80vmax;
    /* border-radius: 4vmin; */
    /* margin-left: */
}

#num_of_people {
    position: relative;
    height: 10vmin;
    width: 15vmax;
    margin-top: 2.5vmin;
    margin-left: 1.5vmax;
    margin-right: 1.5vmax;
    /* background-color: #04f5fdc2; */
    display: inline-block;
    border-radius: 3vmin;
    text-align: center;
    font-weight: 500;
    font-size: 5vmin;
    color: rgb(0, 255, 255);
}

.num_bottom {
    position: relative;
    height: 10vmin;
    width: 7vmax;
    margin-top: 2.5vmin;
    margin-left: 1.5vmax;
    margin-right: 1.5vmax;
    background-color: #077a118e;
    display: inline-block;
    border-radius: 3vmin;
    text-align: center;
    font-size: 5vmin;
    color: white;
    border: none;
}

#start {
    position: absolute;
    margin-top: 50vmin;
    margin-left: 30vmax;
    /* background-color: #169933b4; */
    background-image: url(../img/excalibur_2.jpg);
    background-size: cover;
    display: inline-block;
    height: 40vmin;
    width: 30vmin;
    /* line-height: 10vmin; */
    border-radius: 4vmin;
}

#start_txt {
    margin-top: 30vmin;
    font-size: 6vmin;
    font-weight: 500;
    text-align: center;
    vertical-align: bottom;
    color: white;
}

#lady_lake_bottom {
    position: absolute;
    margin-top: 50vmin;
    margin-left: 55vmax;
    /* background-color: #169933b4; */
    background-image: url(../img/Lady_of_the_Lake.jpg);
    background-size: cover;
    display: inline-block;
    height: 40vmin;
    width: 30vmin;
    /* line-height: 10vmin; */
    border-radius: 4vmin;
}

#lady_tf {
    margin-top: 30vmin;
    font-size: 6vmin;
    font-weight: 500;
    text-align: center;
    vertical-align: bottom;
    color: white;
}

#char_setting2 {
    background-image: url(../img/char_bg.JPG);
    background-size: cover;
    height: 100vmin;
    width: 100vmax;
    /* margin-: auto; */
    display: inline-block;
}

#char_setting {
    background-image: url(../img/char_bg.JPG);
    background-size: cover;
    height: 100vmin;
    width: 100vmax;
    /* margin-: auto; */
    display: inline-block;
}

#char_explain {
    /* position: absolute; */
    margin-top: 5vmin;
    margin-left: 55vmax;
    font-size: 5vmin;
    width: 40vmax;
    text-align: center;
    background-color: #077a11a8;
    border-radius: 2vmin;
    color: white;
    font-weight: 500;
}

#char_and_article {
    margin-top: 2.5vmin;
    width: 100%;
    height: 75vmin;
    /* background-color: aqua; */
}

#char_article {
    position: absolute;
    margin-top: 10vmin;
    width: 30vmax;
    color: white;
    background-color: #077a1199;
    /* height: 10vmin; */
    margin-left: 14vmax;
    font-size: 5vmin;
}

.choicing {
    position: relative;
    /* align-content: center; */
    /* background-color: aqua; */
    margin-top: 3vmin;
    margin-left: 5vmin;
    /* margin-bottom: 3vmin; */
    width: 100vw;
    height: 44vmin;
    display: inline-block;
}

.choicing_char {
    position: relative;
    /* background-color: aquamarine; */
    margin-top: 0vmin;
    margin-left: 2.5vmin;
    margin-right: 2.5vmin;
    height: 36vmin;
    width: 27vmin;
    display: inline-block;
    border-radius: 3vmin;
}

#choicing_txt {
    color: white;
    position: absolute;
    background-color: #077a118e;
    margin-top: 2vmin;
    margin-left: 5vmin;
    border-radius: 3vmin;
    height: 40vmin;
    width: 60vmin;
    font-size: 5vh;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#b_1 {
    background-image: url(../img/c_mordred.jpg);
    position: relative;
    background-size: cover;
    font-size: 2vmin;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#b_1_w {
    margin-top: 30vmin;
    /* align: bottom; */
}

#b_2 {
    background-image: url(../img/c_assassin.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#b_3 {
    background-image: url(../img/c_mokina.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#b_4 {
    background-image: url(../img/c_bad1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_1 {
    background-image: url(../img/c_maylin.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_2 {
    background-image: url(../img/c_par.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_3 {
    background-image: url(../img/c_loyalty1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_4 {
    background-image: url(../img/c_loyalty2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_5 {
    background-image: url(../img/c_loyalty3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_6 {
    background-image: url(../img/c_loyalty4.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#b_mordred {
    background-image: url(../img/c_mordred.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#b_assassin {
    background-image: url(../img/c_assassin.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#b_mokina {
    background-image: url(../img/c_mokina.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#b_bad {
    background-image: url(../img/c_bad1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_maylin {
    background-image: url(../img/c_maylin.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_par {
    background-image: url(../img/c_par.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_loyal1 {
    background-image: url(../img/c_loyalty1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_loyal2 {
    background-image: url(../img/c_loyalty2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_loyal3 {
    background-image: url(../img/c_loyalty3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#g_loyal4 {
    background-image: url(../img/c_loyalty4.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 4vmin;
    display: inline-block;
}

#choicing_down {
    width: 100%;
    background-color: rgba(127, 255, 212, 0.514);
    text-align: center;
    color: white;
    border: none;
    font-weight: 500;
    height: 10vmin;
    margin-top: -5vmin;
    font-size: 5vmin;
}

#char_checking_background {
    position: relative;
    background-image: url(../img/Lady_of_the_Lake.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 4vmin;
}

#char_photo {
    position: absolute;
    margin-top: 2vmin;
    margin-left: 65vmax;
    width: 54vmin;
    height: 72vmin;
    border-radius: 4vmin;
    display: inline-block;
    /* border-radius: 3vmin; */
}