.background {
    background-image: url(../img/IMG_4768.JPG);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: inline-block;
}

#title {
    background-color: #07581599;
    /* display: inline-block; */
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    position: absolute;
    text-align: center;
    margin-top: 20vh;
    margin-left: 25vw;
    margin-right: 25vw;
    height: 20vh;
    width: 50vw;
    color: white;
    font-size: 5vw;
    line-height: 20vh;
    border-radius: 4vmin;
}

#start {
    position: absolute;
    margin-top: 50vh;
    margin-left: 35vw;
    /* background-color: #169933b4; */
    background-image: url(../img/excalibur_2.jpg);
    background-size: cover;
    display: inline-block;
    height: 40vh;
    width: 30vh;
    /* line-height: 10vh; */
    border-radius: 4vmin;
}

#start_txt {
    margin-top: 30vh;
    font-size: 6vh;
    font-weight: 500;
    text-align: center;
    vertical-align: bottom;
    color: white;
}